#nav-obj {
    margin: 10px;
}

.navlist {
    list-style: none;
}

#logo {
    margin-left: 20px;
}

#headshot {
    margin: 10px 10px 10px 10px;
}

#about {
    color: white;
    text-align: justify;
    border: solid 2px;
    margin: 10px;
    padding: 10px;
}