#nav-obj {
    margin: 10px;
}

.navlist {
    list-style: none;
}

#logo {
    margin-left: 20px;
}

#headshot {
    margin: 10px 10px 10px 10px;
}

#about, #projects {
    color: white;
    text-align: justify;
    margin: 10px;
    padding: 20px;
}

#resume {
    color: #383838;
    margin: 20px 10px 10px 10px;
    border-left: solid 2px #383838;
    border-right: solid 2px #383838;
}

.resume-header {
    font-weight: bold;
}

.education, .experience {
    margin-left: 20px;
}

.psu-info, .uo-info, .current-job, .previous-jobs {
    margin-left: 20px;
}

.bg-dark {
    background-color: #383838 !important;
}

#projects {
    margin: 10px;
}

.carousel-item {
    margin-top: 10px;
}

#contact {
    margin: 10px;
}

.btn-primary {
    background-color: #383838 !important;
    border: none;
}

.btn-outline-primary {
    color: #383838 !important;
    border-color: #383838 !important;
}

.text-muted {
    margin-right: 10px;
    text-align: right;
}