#nav-obj {
    margin: 10px;
}

.navlist {
    list-style: none;
}

#logo {
    margin-left: 20px;
}

#headshot {
    margin: 10px 10px 10px 10px;
}

#about, #projects {
    color: white;
    text-align: justify;
    margin: 10px;
    padding: 20px;
}

#resume {
    color: #383838;
    margin: 20px 10px 10px 10px;
}

.education, .experience {
    margin-left: 20px;
}

.psu-info, .uo-info, .current-job, .previous-jobs {
    margin-left: 20px;
}

.bg-dark {
    background-color: #383838 !important;
}

.carousel-item {
    margin-top: 10px;
}
