:root {
  --dark-gray: #383838;
}

.main {
  max-width: 750px;
}

.bg-dark {
  background-color: var(--dark-gray) !important;
}

#nav-obj {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center; /* This centers the content horizontally */
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-toggler {
  z-index: 200;
  margin-right: 10px;
}

.navlist {
  list-style: none;
}

#logo {
  font-size: 24px;
  margin-left: 20px;
}

#headshot {
  margin: 10px;
}

.lead {
  margin: 10px;
}

#about, #projects {
  color: white;
  text-align: justify;
  margin: 20px 10px 20px 10px;
  padding: 20px;
}

@media (min-width: 360px) {
  #resume {
    border: none;
    width: 85%;
  }
  .carousel-item>a>img {
    height: 135px;
  }
  .internships {
    width: 95%;
    margin: auto;
    margin-bottom: 0.5rem;
  }
  .projects {
    height: 285px;
}

@media (min-width: 768px) {
  #resume {
    border-left: solid 2px var(--dark-gray);
    border-right: solid 2px var(--dark-gray);
    width: 75%;
  }
  .carousel-item>a>img {
    height: 300px;
  }
  .internships {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }
  #projects {
    height: 485px;
  }
}

#resume {
  color: var(--dark-gray);
  margin: 20px 10px 20px 10px;
}

.resume-header {
  font-weight: bold;
}

.education, .experience {
  margin: 25px auto 25px 20px;
}

.psu-info, .uo-info, .intern-exp, .previous-jobs {
  margin-left: 20px;
}

#projects {
  margin: 20px 10px 20px 10px;
}

.carousel-item {
  margin-top: 10px;
}

#contact {
  margin: 20px 10px 20px 10px;
}

.btn-primary {
  background-color: var(--dark-gray) !important;
  border: none;
}

.btn-outline-primary {
  color: var(--dark-gray) !important;
  border-color: var(--dark-gray) !important;
  background-color: white !important;
}

.text-muted {
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.modal-header {
  background-color: var(--dark-gray) !important;
  color: white;
}

.modal-body {
  margin-bottom: 0px !important;
  padding-bottom: 0px;
}

.modal-footer {
  margin-top: 0px !important;
  padding-top: 0px;
  border: none;
}

.internships li {
  margin-bottom: 0.5rem;
  padding: 0.25rem;
}

